html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 120px;

    background-image: url("../images/waterDrops.jpg");
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

section {
    padding-top: 120px;
}

.sectionCol {
    background: rgba(255, 255, 255, 0.96);
}


.centerBlock {
    display: table;
    margin: auto;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #343a40;
}

.img-thumbnail {
    position:relative;
    overflow:hidden;
}

.imgCaption {
    position:absolute;
    bottom:10%;
    right:0;
    background:rgba(196, 196, 196, 0.7);
    width:100%;
    height:30%;
    padding:2%;
    display: initial;
    color:#fff !important;
    z-index:2;
}

.img-thumbnail:hover > .imgCaption {
    background:rgba(196, 196, 196, 0.85)
}

.pCenter {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
}

.parallax {
    /* The image used */
    background-image: url("../images/waterDrops.jpg");
    position: relative;
    display: block;
    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

