html {
}
body {
    position: relative;
    /* Margin bottom by footer height */
    height:auto ;

    /* background-image: url("../images/waterDrops.jpg"); 

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
    font-family: 'Helvetica Neue Ultra Light', 'Helvetica', 'Arial', sans-serif;
    font-weight: normal;
}


.navbar {
    background: rgba(24, 24, 24, 0.98);
    border-bottom: 1px solid gray;
}


#jumbotronContents {
    padding-top: 200px;
    color: white;
    text-shadow: 0 0 5px #000;
    height: 100vh;
}

#sectionPortfolio {
    background: white;
    height: auto;
    margin: 200px, auto;
}

#sectionContact {
background: white;
    height: auto;
}
  


.sectionCol {
    background: rgba(255, 255, 255, .96);
}


.centerBlock {
    display: table;
    margin: auto;
}

.footer {

    margin-top: 50px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: rgb(39, 41, 44);
}

.img-thumbnail {
    position:relative;
    overflow:hidden;
}

.imgCaption {
    position:absolute;
    bottom:10%;
    right:0;
    background:rgba(196, 196, 196, 0.7);
    width:100%;
    height:30%;
    padding:2%;
    display: initial;
    color:#fff !important;
    z-index:2;
}

.img-thumbnail:hover > .imgCaption {
    background:rgba(196, 196, 196, 0.85)
}

.pCenter {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
}



