html {
}
body {
    position: relative;
    /* Margin bottom by footer height */
    height: auto;

    font-family: 'Raleway', 'Helvetica', 'Arial', sans-serif;

    /* 
    Tajawal: maybe
    Quicksand: yeet
    Josefin Sans: maybe Nav
    Raleway: nav
    Roboto: headers, other large text
    */
    font-weight: 400;
}


.navbar {
    background: rgba(24, 24, 24, 0.98);
    border-bottom: 1px solid #444444;
}

.navbar-nav, h2 {
    font-family: 'Quicksand', 'Helvetica', 'Arial', sans-serif;
    font-weight: 400;
}

#nameHeader {
    margin-bottom: 0;
    padding: 3px 0;
    display: flex;
    align-items: center;
}


#jumbotronContents {
    padding-top: 240px;
    color: white;
    text-shadow: 0 0 5px #000;
    height: 100vh;
}

#sectionWork {
    background: white;
    height: auto;
}

#sectionContact {
background: white;
    height: auto;
}

#workBox {
    margin: 100px auto;
}

#aboutBox {
    margin-top: 140px;
    margin-bottom: 180px;
}
  
#contactBox {
    margin: 100px auto;
}

#biography {
    font-family: 'Cormorant Garamond', 'Times New Roman', Times, serif;
    font-size: 22px;
}



.sectionCol {
    background: rgba(255, 255, 255, .96);
}


.centerBlock {
    display: table;
    margin: auto;
}

.footer {

    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: rgb(39, 41, 44);
}

.img-thumbnail {
    position:relative;
    overflow:hidden;
}

.imgCaption {
    position:absolute;
    top: 500px;
    right:0;
    background:rgba(196, 196, 196, 0.7);
    width:100%;
    height:30%;
    padding:0;
    display: initial;
    color:#fff !important;
    z-index:2;
}

/* .img-thumbnail:hover > .imgCaption {
    background:rgba(196, 196, 196, 0.85)
} */

.pCenter {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, 0);
}

.list-group-item:hover {
    cursor: pointer;
}
